/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* 
1. Vị trí
2. Kích thước (width , height)
3. Màu sắc
4. Kiểu dáng
*/


/* Common : Nhung css dung chung */

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.33333%;
}


/* Margin top 8px */

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}


/* Main Css */

#main {}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding-left: 12px;
    line-height: 38.5px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpeg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 45px;
    text-align: center;
    /* Cach 1: can giua */
    /* left: 50%;
    transform: translateX(-50%); */
    /* Cach 2: */
    width: 100%;
    /* Cach 3: */
    /* left: 0;
    right: 0; */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    /* Space cac chu */
    letter-spacing: 4px;
    padding-bottom: 25px;
}

#content .section-sub-heading {
    font-size: 15px;
    /* Do trong suot cua chu */
    opacity: 0.60;
    /* Font chu nghieng */
    font-style: italic;
    padding-bottom: 15px;
}

#content .about-text {
    font-size: 15px;
    /* Can le trai phai */
    text-align: justify;
    /* Do cao giua cac dong chu */
    line-height: 1.5;
    /* padding-bottom: 47px; */
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .members-list {
    margin-top: 48px;
    /* Ko co dong nay thi the member-list 
    se ko om cac the con cua no, do cac the
    con dung thuoc tinh float-left */
    /* Cach 1: */
    overflow: hidden;
    /* Cach 2 : dung the div class clear 
    cuoi the member-list , sau do css the clear :both */
}


/* Cach 2 day: */


/* .clear {
    clear: both;
} */

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}


/* Tour section */

.tour-section {
    background-color: #000;
}

.tour-section .tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    list-style-type: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #F44336;
    color: #fff;
    padding: 2px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}


/* Places */

.places-list {
    overflow: hidden;
    margin-top: 32px;
    /* Thu thuat padding + can le trai phai */
    /* margin-left: -8px;
    margin-right: -8px; */
    /*  */
    padding-bottom: 48px;
}

.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin: 15px 0;
    color: #757575;
}

.place-description {
    margin: 15px 0;
    line-height: 1.4;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}


/* Contact Form */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.contact-form .btn:hover {
    background-color: #ccc;
    color: #000;
    border: none;
}


/* Footer section */

#footer {}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    animation: modalFadeIn ease 1s;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}

#buy-ticket {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-ticket:hover {
    opacity: 0.9;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}